@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

:root {
	--primary-color: #ff3b30d9;
	--primary-hover: #ff3b30;
	--dark-text-color: #3f4049;
	--light-text-color: #5a5a5a;
	--white-color: #ffffff;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

.container {
	width: 80%;
	margin: auto;
	padding: 2.5rem 0;
}

.active {
	color: var(--primary-color);
}

.active:hover {
	color: var(--primary-hover);
}

/* utilities */
.xl-text {
	font-size: 4.8rem;
	line-height: 6.4rem;
}

.lg-text {
	font-size: 3.2rem;
	line-height: 4rem;
}

.md-text {
	font-size: 2.4rem;
	line-height: 3.2rem;
}

.sm-text {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.xs-text {
	font-size: 0.8rem;
	line-height: 1.6rem;
}

/* navbar style starts */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .logo {
	color: var(--light-text-color);
	font-weight: 900;
}

nav .nav-right {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

nav .nav-right a .fab {
	margin-left: 4rem;
	color: var(--light-text-color);
}

nav .nav-right a .fab:hover {
	color: var(--primary-color);
}
/* navbar style ends */

main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

/* landing page body style starts */
main .description {
	max-width: 65%;
	margin: 0 auto;
	font-weight: 700;
	margin-bottom: 3rem;
	color: var(--dark-text-color);
}

main .btn-container .btn {
	display: inline-block;
	font-weight: 700;
	background-color: var(--primary-color);
	width: 12rem;
	padding: 1rem;
	border-radius: 0.4rem;
}

main .btn-container .btn-primary {
	color: var(--white-color);
	margin-right: 2rem;
}

main .btn-container .btn-primary:hover {
	background-color: var(--primary-hover);
}

main .btn-container .btn-secondary {
	color: var(--primary-color);
	background-color: transparent;
	border: 1px solid var(--primary-color);
}

main .btn-container .btn-secondary:hover {
	color: var(--primary-hover);
	background-color: transparent;
	border: 1px solid var(--primary-hover);
}
/* landing page body style ends */

/* index.html media queries */
@media (max-width: 1024px) {
	main .description {
		max-width: 80%;
		font-size: 3.2rem;
		line-height: 4rem;
	}
}

@media (max-width: 768px) {
	main .description {
		max-width: 100%;
	}
}

/* INTRODUCTION PAGE STYLING START */

.flex-container {
	display: flex;
	margin-top: 10rem;
	width: 100%;
}

/* sidebar starts */
.flex-container aside {
	width: 15%;
	/* background-color: lawngreen; */
}

.sidebar-main-heading {
	padding: 0 2rem 1rem 2rem;
	border-bottom: 1px solid lightgray;
	font-weight: 700;
	color: var(--light-text-color);
}

.sidebar-sub-heading {
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	font-weight: 700;
	color: var(--dark-text-color);
}

.all-components {
	font-weight: 700;
	padding: 1rem 2rem;
	color: var(--dark-text-color);
}

.all-components li {
	margin-bottom: 1.8rem;
}

/* sidebar ends */

/* introduction's body styling starts */
.flex-container .content-section {
	width: 70%;
	margin-left: 10rem;
	/* background-color: lightcoral; */
}

.intro-heading {
	letter-spacing: 1.5px;
	font-weight: 900;
	color: var(--dark-text-color);
	margin-bottom: 2rem;
}

.intro-sub-heading {
	font-size: 1.7rem;
	font-weight: 700;
	color: var(--light-text-color);
	margin-bottom: 4rem;
}

iframe {
	width: 70%;
	height: 205px;
	border: 0;
	transform: scale(1);
	overflow: hidden;
}
/* introduction's body styling ends */

/* footer style starts */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 4rem;
}

footer > .sm-text {
	font-weight: 700;
}

footer .fas {
	font-size: 1.2rem;
	margin: 0 0.3rem;
}
/* footer style ends */

/* introduction page media queries start */
@media (max-width: 1024px) {
	iframe {
		width: 100%;
	}

	.flex-container .content-section {
		width: 80%;
		/* background-color: lightgreen; */
	}
}

@media (max-width: 768px) {
	.flex-container aside {
		display: none;
	}

	.flex-container .content-section {
		width: 100%;
		margin-left: 0;
	}
}

/* button component iframe responsiveness */
.button-iframe iframe {
	width: 50%;
}

@media (max-width: 1024px) {
	.button-iframe iframe {
		width: 100%;
	}
}
