<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/4e7a84495e.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../../assets/favicon-32x32.png"
		/>
		<link rel="stylesheet" href="../../style.css" />
		<link rel="stylesheet" href="./text-utilities.css" />
		<title>Text Utilities</title>
	</head>
	<body>
		<div class="container">
			<nav>
				<a href="../../index.html" class="logo md-text">Meta UI</a>
				<section class="nav-right md-text">
					<a href="https://github.com/rahullrawat" target="_blank">
						<i class="fab fa-github"></i>
					</a>
					<a href="https://twitter.com/rahul_rawat08" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
					<a
						href="https://www.linkedin.com/in/rahul-rawat-1492b71bb/"
						target="_blank"
					>
						<i class="fab fa-linkedin-in"></i>
					</a>
				</section>
			</nav>

			<div class="flex-container">
				<aside>
					<div class="sidebar-main-heading md-text">Get Started</div>
					<div class="sidebar-sub-heading sm-text">
						<a href="../../introduction.html">Introduction</a>
					</div>
					<div class="sidebar-main-heading md-text">Components</div>
					<ul class="all-components sm-text">
						<li>
							<a href="./avatar/avatar.html">Avatar</a>
						</li>
						<li><a href="../alert/alert.html">Alert</a></li>
						<li><a href="../badges/badges.html">Badge</a></li>
						<li><a href="../button/button.html">Button</a></li>
						<li><a href="../cards/cards.html">Card</a></li>
						<li><a href="../image/image.html">Image</a></li>
						<li><a href="../input/input.html">Input</a></li>
						<li>
							<a href="../text-utilities/text-utilities.html" class="active"
								>Text Utilities</a
							>
						</li>
						<li><a href="../list/list.html">List</a></li>
						<li>
							<a href="../navigation/navigation.html">Navigation</a>
						</li>
						<li><a href="../grid/grid.html">Grid</a></li>
						<li><a href="../slider/slider.html">Slider</a></li>
					</ul>
				</aside>

				<div class="content-section">
					<section>
						<div class="intro-heading lg-text">Text Utilities</div>
						<p class="intro-sub-heading sm-text">
							Text Utilities are used to give different sizes to text and also
							to center text.
						</p>

						<!-- heading text -->
						<div class="intro-heading lg-text">Heading text</div>

						<div class="text-container">
							<h1>H1 - Heading</h1>
							<h2>H2 - Heading</h2>
							<h3>H3 - Heading</h3>
							<h4>H4 - Heading</h4>
							<h5>H5 - Heading</h5>
							<h6>H6 - Heading</h6>
						</div>
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C1%29&t=seti&wt=none&l=auto&width=774&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=18px&ph=44px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253E%2520H1%2520-%2520Heading%2520%253C%252Fh1%253E%2520%2520%250A%253Ch2%253E%2520H2%2520-%2520Heading%2520%253C%252Fh2%253E%250A%253Ch3%253E%2520H3%2520-%2520Heading%2520%253C%252Fh3%253E%250A%253Ch4%253E%2520H4%2520-%2520Heading%2520%253C%252Fh4%253E%250A%253Ch5%253E%2520H5%2520-%2520Heading%2520%253C%252Fh5%253E%250A%253Ch6%253E%2520H6%2520-%2520Heading%2520%253C%252Fh6%253E"
							style="
								height: 220px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>

						<!-- small text -->
						<div class="intro-heading lg-text mt-4">Small Text</div>
						<div class="text-container">
							<p>Paragraph Text</p>
							<span>Span</span>
						</div>
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C1%29&t=seti&wt=none&l=auto&width=774&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=18px&ph=44px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%253E%2520Paragraph%2520Text%2520%253C%252Fp%253E%250A%253Cspan%253E%2520Span%2520%253C%252Fspan%253E"
							style="
								height: 150px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>

						<!-- Gray text -->
						<div class="intro-heading lg-text mt-4">Gray Text</div>
						<div class="text-container">
							<h6 class="text-gray">This is gray text example.</h6>
						</div>
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C1%29&t=seti&wt=none&l=auto&width=774&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=18px&ph=44px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch6%2520class%253D%2522text-gray%2522%253EThis%2520is%2520gray%2520text%2520example.%253C%252Fh6%253E%2520"
							style="
								height: 130px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>

						<!-- text align -->
						<div class="intro-heading lg-text mt-4">Text align</div>
						<div class="text-container">
							<p class="text-left">This is text left example.</p>
							<p class="text-center">This is text center example.</p>
							<p class="text-right">This is text right example.</p>
						</div>
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C1%29&t=seti&wt=none&l=auto&width=774&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=18px&ph=44px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-left%2522%253EThis%2520is%2520text%2520left%2520example.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-center%2522%253EThis%2520is%2520text%2520center%2520example.%253C%252Fp%253E%2520%250A%253Cp%2520class%253D%2522text-right%2522%253EThis%2520is%2520text%2520right%2520example.%253C%252Fp%253E"
							style="
								height: 160px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</section>

					<footer>
						<div class="previous-page sm-text">
							<i class="fas fa-chevron-left"></i>
							<a href="../input/input.html">Input</a>
						</div>
						<div class="next-page sm-text">
							<a href="../list/list.html">List</a>
							<i class="fas fa-chevron-right"></i>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
